<form action="/genres/create" role="form" method="post">
    <div>
        <label for="book_genre">Genre</label>
        <input type="text" id="book_genre" name="bookGenre">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>