<h1>Genres</h1>
<a href="/genres/form">Create a new genre</a>
{{#each genres}}
<li>
  {{@index}} - {{this.bookGenre}} <!-- show index -->
  <a href="/genres/edit?id={{@index}}">edit</a>
</li>
{{/each}}