<form action="/books/create" role="form" method="post">
  <div>
    <label for="book_name">Title</label>
    <input type="text" id="book_name" name="bookName">
  </div>
  <div>
    <label for="publish_year">Last name</label>
    <input type="int" id="publish_year" name="publishYear">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
