<form action="/comments/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <input type="hidden" name="bookId" value="{{bookIndex}}">
    {{#if currentUser}}
    <div>
        <textarea rows="5" id="comment" name="comment">{{comment.comment}}</textarea>
    </div>
    {{/if}}
    <button type="submit">Save Comment</button>
</form>